/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #6bab35, #3aa7cd 100%);/*degrade hors corps*/
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 800px;/*largeur du corps*/
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #6bab35, #d2edf4 100%);/*degrade header*/
    padding: 20px 15px 15px 15px;
    position: relative;
    display: flex;/*perso*/
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

/* ---------------- perso ----------------*/
/*padding: 0px 0px 0px 10px;*/ /*top, right, bottom, left*/
.header-left {
    display:flex;
    width: 50%;
}

.header-center {
    margin: 0 auto;
}

.header-right {
    display:flex;
    width: 50%;
}

.nav-items{
    flex: 1 1 auto;
    -webkit-flex: 1;
    display: flex;
}

.header-left .nav-items{/*specific to the left component in order to have the sub menu close to the logo*/
    justify-content: flex-end;
}

.header-right .right-item{/*specific to the left component in order to have the sub menu close to the logo*/
    justify-content: flex-end;
}

/* ---------------- ----- ----------------*/

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}

@media (max-width: 768px){
    .nav-items{
        display:none
    }

    .header-right .right-item{
        -webkit-flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}